.App {
    text-align: center;
}

h1 {
    font-size: 1.6rem;
}

.plr-15 {
    padding: 0 15px !important;
}

.ml-5 {
    margin-left: 5px !important;
}

.mr-5 {
    margin-right: 5px !important;
}

.mt-5 {
    margin-top: 5rem !important;
}

.mt-2 {
    margin-top: 2rem !important;
}

label {
    width: 200px;
}

img {
    width: 70px !important;
    height: auto !important;
}